@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body, html {
    height: 100%;
}
body {
    font-family: sans-serif;
    background-color: #f2f2f2;
    transition: margin-left 0.5s;
}
#wrapper {
    transition: margin-left 0.5s;
}
h2 {
    font-family: Comfortaa, sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 25px;
}
h5 {
    font-family: Comfortaa, sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 15px;
    padding-right: 50px;
}

/* *** Header \ Top Nav  */


#topNav {
    width: 100%;
    height: 60px;
    background-color: rgba(0,0,0,.6);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
#topNav button:first-child {
    background-color: inherit;
    color: #eff;
    border: 0;
    outline: none;
    margin-left: 15px;
    display: none;
}
.topMenu {
    display: flex;
    margin-left: 25px;
}
.topMenu ul {
    list-style: none;
}
.topMenu li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    font-family: Comfortaa, sans-serif;
}
.topMenu a, .hdrSocials span, .headerRight > div:first-child span {
    color: #eff;
    text-decoration: none;
    text-transform: uppercase;
    
}
.headerRight {
    display: flex;
/*    width: 25%;*/
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
    
}
.headerRight > div:first-child {
    border-right: 1px solid rgba(255,255,255,.3);
    margin-right: 13px;
}
.hdrSocials .fa, .headerRight > div:first-child .fa, #topNav button:first-child {
    font-size: 1.5em;
    margin-right: 10px;
}
.hireMeBtn1 {
    background-color: blueviolet;
    border: solid 2px gray;
    border-radius: 5px;
    height: 40px;
    color: #eff;
}
#langSelect {
    display: flex;
    position: fixed;
    top: 60px;
    right: 207px;
    z-index: 500;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.4);
    border: 2px solid #95cac5;
    border-radius: 5px;
}
#langSelect a {
    color: #eff;
    font-family: Comfortaa, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

/*mobile sidenav*/

#openNav {
    transition: opacity 0.5s;
}
#sidenav {
    width: 0px;
    height: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    padding-top: 55px;
    background-color: #227 !important;
    color: #eff;
    overflow-x: hidden;
    transition: 0.5s;
}
.mobileMenu li > a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 25px;
    padding: 9px 32px 9px 17px;
    color: #eff;
    background-color: inherit;
    font-size: 13px;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Comfortaa, sans-serif;
    font-size: 1.3em;
}
.mobileMenu .closebtn {
    position: fixed;
    z-index: 3;
    top: 5px;
    font-size: 36px;
    color: #ebebeb;
    left: 210px;
}
#ovrl {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 2;
    background-color: rgba(0,0,0,0.4);
    transition: opacity 0.5s;
}
#cls {
    display: none;
    z-index: 4;
}
.mobileMenu div {
    padding: 15px;
    
}
.mobileMenu .fa {
    font-size: 1.5em;
    color: #eff;
    margin: 5px;
}

/* *** Avatar Box *** */

.avatarBox {
    border-bottom: 5px solid #95cac5;
}
.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33,0,66,.86);
}
#bigAvatarBox {
    width: 100%;
    height: 720px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}
#bigAvatarBox .avaBckgd {
    max-width: 100%;
    filter: blur(5px);
    height: 100%;
}
#logoBox {
    position: absolute;
}
#headerAvatar {
    width: 200px;
/*    height: 150px;*/
    position: absolute;
/*    left: 45%;*/
/*    right: 49%;*/
    
    bottom: -14%;
    z-index: 90;  
}
#headerAvatar img {
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    border: 5px solid #95cac5;
    border-radius: 15%;
}

/* *** MAIN SECTION *** */
/* Hello Block */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: margin-left 0.5s;
}
.helloContainer {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hello, #motivation {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Comfortaa, sans-serif;
    margin-top: 200px;
}
#hello h3, #hello h1 {
    text-transform: uppercase;
}
#hello h3 {
    font-size: 2.3em;
    padding-bottom: 30px;
}
#hello h1 {
    font-size: 3.5em;
    padding-bottom: 30px;
    text-align: center;
    line-height: 1.3em;
    display: block;
    width: 65%;
}
#hello p, #motivation p {
    font-size: 1.6em;
    text-align: center;
    line-height: 1.3em;
}
#hello b {
    font-weight: bold;
}


/* Background Info Block */

#bckgrdInfo {
    width: 85%;
    
}
.infoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 15px solid #95cac5;
    border-radius: 30px;
    padding: 30px 0;
    background-color: #fff;
    box-shadow: 0 0 8px #95cac5;
    margin-top: 60px;
}
.infoContent {
    width: 87%;
    margin-top: 25px;
    display: flex;
}
.infoLeft {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 30px;
}
.infoLeft > div:first-child {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}
.infoLeft > div:first-child img {
    max-width: 80%;
    border-radius: 50%;
}
.infoAgeEtc, .modalContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    font-family: "Comfortaa", sans-serif;
}
.infoAgeEtc div, .modalContent div > div {
    width: 47%;
    text-transform: uppercase;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.modalContent div > .ageLeft {
    width: 20%;
}
.modalContent div > .ageRight {
    width: 77%;
}
.ageLeft {
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}
.ageRight {
    text-align: left;
    border-left: 1px solid #ebebeb;
    padding-left: 10px;
}
.ageRight b {
    font-weight: bold;
}
.infoRight {
    width: 68%;
    display: flex;
    flex-direction: column;
    font-family: "Comfortaa", sans-serif;
    
}
.infoRight div {
    position: relative;
    margin-bottom: 25px;
}
.infoRight h5 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.7em;
    padding-bottom: 15px;
}
.infoRight p, .infoRight li {
    font-size: 1.1em;
    line-height: 1.2em;
    padding-bottom: 15px;
   
}
.infoRight > div:first-child p, .infoRight > div:last-child ul {
    margin-bottom: 30px;
}

.infoRight button {
    position: absolute;
    bottom: 0;
    right: 0;
}
.modals {
    
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 11000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

.modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    margin-top: 90px;
}
.modalContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



#motivation {
    margin-top: 100px !important;
}
.motivContainer {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#skills {
    width: 85%;
}
#skills > .infoContainer {
    flex-wrap: wrap;
}
.skillsItem {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skillsItem span > h5 {
    text-align: center;
    padding: 0;
}
.circleContainer {
    width: 90%;
} 
.xBars {
    width: 80%;
}
.xBars * {
    box-sizing: border-box;
}
.xBars p {
    font-family: "Comfortaa", sans-serif;
    padding-bottom: 10px;
}
.xBarsContainer {
    width: 100%; 
    background-color: #ddd;
    border-radius: 5px;
}

.xskills {
    box-sizing: border-box;
    text-align: right; 
    padding-right: 20px; 
    line-height: 40px; 
    color: white; 
    margin-bottom: 15px;
    border-radius: 5px;
}

.jquery {width: 45%; background-color: #4CAF50;} 
.sass {width: 15%; background-color: #2196F3;} 
.responsive {width: 99%; background-color: #f44336;} 